<h1><%= @study_card.title %></h1>

<p><%= @study_card.description %></p>

<% if @study_card.infographic.attached? %>
  <%= image_tag @study_card.infographic, style: "max-width: 100%; height: auto;" %>
<% end %>

<h2>Questions</h2>

<ol>
  <% @study_card.questions.order(:position).each do |question| %>
        <li>
            <strong><%= question.question_text %></strong>
            <%= form_with url: check_answer_question_path(question), method: :post do %>            <p>
                <%= radio_button_tag :answer, "A" %>
                <%= question.option_a %>
            </p>
            <p>
                <%= radio_button_tag :answer, "B" %>
                <%= question.option_b %>
            </p>
            <p>
                <%= radio_button_tag :answer, "C" %>
                <%= question.option_c %>
            </p>
            <p>
                <%= radio_button_tag :answer, "D" %>
                <%= question.option_d %>
            </p>
            <%= submit_tag "Check Answer" %>
                <div id="question_<%= question.id %>_result"></div>
            <% end %>
        </li>
    <% end %>
</ol>

    <p>
    <%= link_to "← Back to #{@study_card.study_deck.name}", study_deck_path(@study_card.study_deck) %>
    </p>